.header {
    color: black;
    padding: 8px;
    text-align: left;
    margin-right: 70%;
}
.info {
    border-style: dashed;
    padding-left: 15px;
    margin-top: 5px;
    margin-left: 5%;
    float:left;
    font-size: 15px;
    font-weight: bold;
}
.right {
    border-style: double;
    border-width: 5px;
    border-color:red;
    text-align: center;
    color: black;
    padding: 8px;
    margin-left: 430px;
    font-weight: bold;
}
.want {
    margin-top: 10px;
    height: 200px;
    width: 380px;
    float: right;
    border-style: double;
    border-width: 5px;
    border-color: darkblue;
    font-weight: bolder;
    color: black;   
    padding: 20px;
}
.knows {
    font-weight: bold;
    height: 250px;
    width: 390px;
    margin-top: 10px;
    margin-right: 50px;
    float: right;
    border-style: double;
    border-width: 5px;
    border-color: darkblue;
    text-align: left;
    color: black;
    padding: 20px;
}
.exp {
    text-align: left;
    font-size: 15px;
}
.like {
    text-align: left;
    font-size: 15px;
}
.educ {
    padding-left: 10px;
    text-align: left;
    font-size: 15px;
}
.h1 {text-align: center;
    color:aliceblue;
}
.me {
    margin-left: 8%;
    height: 175px;
    width: 190px;
    float: left;
}
